<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="momcreation" />
    <base href="<%- baseurl %>">
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="front/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="front/onepage.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="front/dark.css" type="text/css" />
    <link rel="stylesheet" href="front/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="front/et-line.css" type="text/css" />
    <link rel="stylesheet" href="front/animate.css" type="text/css" />
    <link rel="stylesheet" href="front/colors.css" type="text/css" />
    <link rel="stylesheet" href="front/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="front/fonts.css" type="text/css" />

    <link rel="stylesheet" href="front/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="../js/front/jquery.js"></script>
    <script type="text/javascript" src="../js/front/plugins.js"></script>

    <!-- Document Title
    ============================================= -->
    <title><%- title %></title>
    <meta name="keyword" content="<%- keyword %>">
    <meta name="description" content="<%- description %>">
    
    
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

</head>

    <%- body %>

</html>